body {
  font-family: verdana, arial, helvetica;
  font-size: 11px;
  color: #333;
}

#page {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #00f;
  text-decoration: none;
}

a:hover {
  color: #f69;
}

#page > table td {
  vertical-align: top;
}

#top-logo {
  float: left;
}

#top-option {
  float: right;
  background-color: #333;
  margin-top: 10px;
}

#f-select {
  color: #fff;
  padding: 10px;
}

#main-menu {
  border: 1px solid #ccc;
  width: 900px;
  margin-bottom: 10px;
}

#main-menu a {
  color: #333;
}

#main-menu a:hover {
  color: #00f;
}

#main-menu > ul {
  float: left;
  width: 550px;
  padding: 5px;
}

#main-menu > ul li {
  float: left;
  list-style: none;
  padding: 5px 20px;
  border-right: 1px solid #ccc;
}

.clear {
  clear: both;
}
.left {
  float: left;
}

#f-search {
  margin-top: 5px;
  float: right;
  padding: 10px;
}

#left-col {
  width: 250px;
}

.left-block {
  margin-bottom: 20px;
}

#login-form {
  border: 1px solid #ccc;
  padding: 5px;
}

.left-block-title {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px;
}

ul.category {
  padding: 5px;
}

ul.category li {
  list-style:none;
  padding: 5px 0;
}

ul.category li > ul li {
  border-bottom: 1px dashed #ccc;
}

#view-menu {
  float: right;
}

.box-content {
  margin-bottom: 20px;
}

.content-title {
  font-weight: bold;
}
.text-blue {
  color: #00f;
}

a.link-view {
  padding: 5px;
  background-color: #00f;
  color: #fff;
  font-weight: bold;
}

#tbl-items {
  margin-top: 10px;
}

.box-item {
  border: 1px solid #ccc;
  padding: 5px;
}
.item-link {
  float: right;
  margin-bottom: 5px;
}

.content-title2 {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.content-body {
  border: 1px solid #ccc;
  padding: 5px;
}

.content-text-list {
  border-bottom: 1px dashed #ccc;
  padding: 5px;
  margin-bottom: 10px;
}

#bottom-menu {
  background-color: #666;
  height: 35px;
}

#bottom-menu > ul {
  padding: 5px;
}

#bottom-menu > ul li {
  color: #fff;
  float: left;
  list-style: none;
  padding: 5px 20px;
  border-right: 1px solid #000;
  width: 135px;
}

#bottom-menu > ul li.last {
  color: #fff;
  float: left;
  list-style: none;
  padding: 5px 20px;
  border-right: 0;
}

#bottom-menu > ul li a {
  color: #fff;
}

#footer {
  text-align: center;
  color: #00f;
  font-weight: bold;
}
.grad
{
background: -webkit-linear-gradient(#fff, #efefef); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#fff, #efefef); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#fff, #efefef); /* For Firefox 3.6 to 15 */
background: linear-gradient(#fff, #efefef); /* Standard syntax */
} 